
# Build output
vscode-client/out
packages/**/out

# TypeScript incremental build cache
*.tsbuildinfo

# Linter cache
coverage/
.eslintcache/
.eslintcache

# OS related
.DS_Store
*.log

# NPM cache
node_modules/
package-lock.json

# vscode dot files
.vscode-test
